.artists {
  padding: 20px;
}

h3 {  
  font-weight: 700;  
  display: flex;  
  align-items: center;

  mat-icon {
    margin-right: 10px;
  }
}

.mat-list-item-content {
  display: flex;
}

.state {
  background-color: #ffd740;
  display: flex;
  align-items: center;
  padding: 10px;
}

.mat-expansion-indicator {
  padding: 20px;
  background-color: #673ab7;
}

.mat-expansion-panel-header-title {
  color: #fff;
  font-weight: 700;
}

.mat-expansion-panel {
  background-color: #673ab7;
  color: #fff;
}

.mat-line {
  display: flex;
  align-items: center;
  padding: 10px 0;

  .mat-icon {
    margin-right: 5px;
  }
}

.mat-focus-indicator {
  margin-left: 10px;
}

@media (hover: none){
  .mat-expansion-panel:not(.mat-expanded):not([aria-disabled=true]) .mat-expansion-panel-header:hover {
    background: #673ab7;
  }
}

@media screen and (max-width: 1024px){
  .mat-expansion-panel-header {
    height: 75px !important;
  }
}

button {
  overflow-x: hidden !important;
  white-space: pre-wrap !important;
}

.track{
  overflow-x: hidden !important;
  white-space: pre-wrap !important;
}