<ul>
  <li><strong>API:</strong> https://api.musixmatch.com/ws/1.1/</li>
  <li><strong>PWA:</strong> Yes</li>
  <li><strong>Tech: </strong>Angular 9, Angular Material</li>
  <li><strong>Description:</strong> This is basic Progressive Web Application example, which using musixmatch API to display some example values. Because it is PWA, you can add to main screen this app on mobile or install on desktop directly from url bar.</li>
</ul>

<mat-divider></mat-divider>

<div class="">
  <a mat-raised-button href="https://github.com/Fichtner21/pwa-angular" title="See repo of this project">
    <mat-icon>visibility</mat-icon> Repo of this project,
    <span>last commit: {{ commitDate }}</span>
  </a>
</div>

<div>  
  <a mat-raised-button href="https://github.com/Fichtner21" target="_blank" title="My github profile"><img src="./assets/GitHub-Mark-64px.png"/> Fichtner21</a>
</div>
